body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: #fff;
    color: #000;
}

/**************************************/

a:link,
.b-link,
.b-link-fresh:visited,
.b-link-fresh:hover:visited,
.b-link-fresh:hover
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 142, 232, .2);
    color: rgb(0, 142, 232);
    text-decoration: none;
}
a:visited,
.b-link:visited
{
    border-color: rgba(220, 0, 220, .2);
    color: rgb(153, 0, 153);
}
a:hover,
a:visited:hover,
.b-link:hover,
.b-link:visited:hover
{
    border-color: #ffb4b7 !important;
    color: #a80000 !important;
    text-decoration: none;
}
a:active,
a:focus,
.b-link:focus,
.b-link:active
{
       -moz-outline-style: none;
    -webkit-outline-style: none;
                  outline: none;
}
.b-local,
.b-local:visited
{
    color: rgb(0, 142, 232);
    border-bottom-style: dotted !important;
    border-bottom-color: rgba(0, 142, 232, .2);
    border-bottom-width: 1px;
}
.b-local:hover
{
    border-color: #f00;
    color: #f00;
}
.b-no
{
    border-bottom-width: 0;
}
.b-link_clr_black
{
    color: #000 !important;
    border-color: rgba(0, 0, 0, .16) !important;
}

/**************************************/

::-moz-selection
{
    background-color: #0a246a;
    color: #fff;
    text-shadow: none;
}
::selection
{
    background-color: #0a246a;
    color: #fff;
    text-shadow: none;
}

/**************************************/

.b-noselect
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/**************************************/

.b-clear:after
{
    clear: both;
}
.b-clear:before,
.b-clear:after
{
    display: table;
    content: "";
    line-height: 0;
}

/**************************************/

.b-align_side_center
{
    text-align: center !important;
}

/**************************************/

.b-list-unstyled
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/**************************************/

ul
{
    padding-left: 20px;
}

/**************************************/

.b-list-out
{
    padding-left: 0;
}

/**************************************/

img
{
    display: block;
}

/***************************************/

.b-divider
{
    height: 1px;
}
.b-divider_height_2
{
    height: 2px;
}
.b-divider_color_e5e5e5
{
    background: #e5e5e5;
}

.b-spacer_h_10
{
    height: 10px;
}
.b-spacer_h_20
{
    height: 20px;
}
.b-spacer_h_30
{
    height: 30px;
}
.b-spacer_h_40
{
    height: 40px;
}
.b-spacer_h_55
{
    height: 55px;
}
.b-spacer_h_70
{
    height: 70px;
}
.b-spacer_h_60
{
    height: 60px;
}
.b-spacer_h_80
{
    height: 80px;
}
.b-spacer_h_100
{
    height: 100px;
}
.b-spacer_h_200
{
    height: 200px;
}

/***************************************/

.b-nowrap
{
    white-space: nowrap;
}

/***************************************/

.b-right
{
    text-align: right;
}

/***************************************/

.b-dl
{
    margin: 0;
}

.b-dt,
.b-dd
{
    margin-bottom: 6px;
}

.b-dt
{
}

.b-dd
{
    margin-left: 0;
}

.b-dl_type_horizontal .b-dd
{
    margin-left: 10px;
}

.b-dl_type_horizontal:before,
.b-dl_type_horizontal:after
{
    display: table;
    line-height: 0;
    content: "";
}

.b-dl_type_horizontal:after
{
    clear: both;
}

.b-dl_type_horizontal .b-dt
{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-dl_type_horizontal .b-dd
{
    margin-left: 180px;
}

/***************************************/

/* overwrite bootstrap 3 row, cause bug with hor scroll */
.row
{
    margin-left: 0;
    margin-right: 0;
}
